@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-image: url("img/asar.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
    font-family:"Poppins", sans-serif;
    margin: 0;
    height: 8px;
    width: auto;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
   font-family:Arial, Helvetica, sans-serif, Tahoma, Geneva, Verdana, sans-serif, Courier, monospace
}
h2{
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display: initial;
    font-weight: 100;
}

.textarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.numbers{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin:  1rem 2rem;
}

.md{ 
    
    text-align: center;
    font-family:   'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.mdspan{
    font-size: 1.3rem;
    forced-color-adjust:inherit ;
}

/* .btn{
    font-size: 25px;
    background-color:rgb(204, 202, 196);
    margin: 10px 10px;
    border: radius 2%;
} */


  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    font-size: 20px;
    margin: 16px 32px;
    display: inline-block;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    font-size: 20px;
    margin: 16px 32px;
    display: inline-block;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  
